<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.22" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.30" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.19.4" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:5.3.22" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.36" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.7.36" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-reload4j:2.0.0-alpha7" />
          <element id="library" level="project" name="Maven: ch.qos.reload4j:reload4j:1.2.19" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.3" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.1" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring/web/Web" />
    </root>
  </artifact>
</component>